/*
	hint.css

	See also: hint.js
*/
div.hint {
	position: absolute;
	z-index: 9;
	border: 1px #000 solid;
	margin: 2px;
	padding: 3px;
	background-color: #ffc;
	color: #0b2e13;
	font-size: 0.9em;
	line-height: 1.1em;
	display: none;
	top: 30px;
	left: 50px;
	text-align: left;
	min-width: 60%;
	white-space: normal;
	padding-bottom: 40px;
}

div.hint .hintclose {
	float: right;
	cursor: pointer;
	font-weight: normal;
	font-size: 80%;
	line-height: 1em;
	margin-top: 2px;
}

div.hint .hint-container {
	overflow: auto;
	width: 100%;
	height: 100%;
}

div.hint h1 {
	margin-top: 0.8em;
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

div.hint h2 {
	margin-top: 0.6em;
	font-size: 1.1em;
	margin-bottom: 0.6em;
}

div.hint h3 {
	margin-top: 0.5em;
	font-size: 1em;
	margin-bottom: 0.5em;
}

div.hint ul {
	margin-left: 12px;
}

div.hint ul li {
	margin-left: 12px;
	list-style-type: square;
}

div.hint dl {
	font-size: 0.9em;
	margin-left: 8px;
}

div.hint dt {
	font-weight: bold;
	font-size: inherit;
	margin-left: 12px;
	margin-bottom: 2px;
}

div.hint dd {
	font-size: inherit;
	margin-left: 12px;
	margin-bottom: 6px;
}

.hintbutton {
	margin-left: 2px;
}

/*# sourceMappingURL=hint.css.map */
