ul.menu {
	min-height: 20px;
	margin: 0;
	padding: 1px;
	list-style-type: none;
}

ul.menu li {
	float: left;
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 2px 5px 3px;
	color: #999;
}

ul.menu li:first-of-type, ul.menu li:first-of-type {
	padding-left: 8px;
}

ul.menu li.right {
	float: right;
}

ul.menu li a, ul.menu li span {
	color: #00c;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid transparent;
}

ul.menu li a:hover, ul.menu li span:hover {
	border-bottom: 1px dotted #00c;
	cursor: pointer;
}

ul.menu li span.disabled {
	color: inherit;
	cursor: text;
	border-bottom: none;
}

ul.menu li span.disabled:hover {
	border-bottom: inherit;
}

ul.menu li a.disabled {
	color: inherit;
	cursor: text;
}

ul.menu li a.disabled:hover {
	border-bottom: inherit;
}

ul.menu li.active {
	background-color: #9ac;
	color: #000;
}

ul.menu li.active a {
	color: #059;
}

ul.menu li i.fa, div.menu i.fa {
	margin-right: 4px;
}
