/* SelectFrom */
div.popup {
	margin: 8px;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 100;
}

div.popup-inner {
	padding: 8px;
	border: 2px solid #036;
	background: #0062a0;
}

div.popup .close {
	float: right;
}

div.popup-curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 2000px;
	height: 2000px;
	z-index: -1;
	opacity: 0.8;
	background-color: #666;
}

div#popup-loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.5;
	background-color: #666;
	background: #666 url(img/ajax_loader_red_32.gif) no-repeat;
	background-position: center;
}

div.popup-inner div#popup-content {
	background-color: #fff;
	min-width: 320px;
	min-height: 200px;
	overflow: hidden;
}

span.selectable {
	cursor: pointer;
	border-bottom: dotted 1px black;
}

span.selectable:hover {
	border-bottom: dotted 1px red;
}

h2#popup-title {
	color: #fff;
}

input.selectfrom {
	width: 100%;
}

.selectfrom-select {
	width: 4rem;
	line-height: normal;
}

.selectfrom-empty {
	width: 16px;
	text-overflow: clip;
}
