/*
	TabControl.css
	module TabControl
*/
div.nav_tab_box {
	background: #fff;
	border-bottom: solid 1px #fff;
	font-size: 1em;
	line-height: 2em;
	overflow: hidden;
	width: 100%
}

div.tabcontrol {
	background-color: #aaa;
	width: 100%;
	text-align: left;
	color: #fff;
	word-spacing: 0;
}

div.tabcontrol a, div.tabcontrol span {
	background: #888;
	color: #fff;
	/*height: 14px;*/
	/*font-weight: bold;*/
	padding: .6em .8em;
	text-decoration: none;
	cursor: pointer;
	margin-right: 0;
}

div.tabcontrol a.disabled, div.tabcontrol span.disabled {
	color: #bbb;
	cursor: default;
}

div.tabcontrol a.active, div.tabcontrol span.active, div.tabcontrol a.active:hover, div.tabcontrol span.active:hover {
	background: #fff;
	color: #9a1c1c;
	padding-top: 4px;
	font-weight: bold;
}

div.tabcontrol a:hover, div.tabcontrol span:hover {
	background: #ccc;
	color: #666;
}

div.tabcontrol a.disabled:hover, div.tabcontrol span.disabled:hover {
	background: #888;
	color: #aaa;
}

div.tabcontrol .tab .fa {
	margin-right: 4px;
}
