﻿body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 140%;
	color: #000;
	background: #fff;
}

a:link {
	font-size: 12pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
}

a:visited {
	font-size: 12pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
}

a:hover {
	font-size: 12pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #000;
}

body {
	margin: 0px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

font.sc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1, .h1, a.h1 {
	font-size: 18pt;
	font-weight: normal;
	text-align: center;
}

h2, .h2, a.h2 {
	font-size: 16pt;
	font-weight: normal;
	text-align: center;
}

h3, .h3, a.h3 {
	font-size: 14pt;
	font-weight: normal;
	text-align: center;
}

input, textarea, option, select {
	color: #000000;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	border-color: #000;
	border-width: 1px;
	vertical-align: top;
}

input.noframe {
	color: #000000;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	border-color: #000;
	border-width: 0;
	height: 16px;
	background-color: #fff;
	disabled-color: #eee;
}

input.jog {
	border: 0;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 10pt;
	height: 16px;
	background-color: #fff;
	vertical-align: bottom;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-align: left;
}

.apro, div.apro, td.apro {
	font-size: 10pt;
	text-align: left;
}

td.disabled {
	color: #666666;
}

td.gomb {
	font-size: 11pt;
	background: #ccc;
}

td.page {
	font-size: 12pt;
}

td.jog {
	font-family: 'Lucida Console', 'Courier New', Courier;
	font-size: 12pt;
	text-align: left;
}

td.value {
	background: #fff;
	font-size: 12pt;
	color: #000;
	text-align: left;
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

tr.comment {
	color: #000;
	background: #fff;
}

tr.sor0 {
	background-color: #E3F7FF;
}

tr.sor1 {
	background-color: #FFFFFF;
}

tr.sor2 {
	background-color: #EEEEEE;
}

.alcim {
	font-size: 14pt;
	text-align: center;
}

.alcim1 {
	font-size: 13pt;
	text-align: center;
}

.cim {
	color: #660033;
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}

.cim1 {
	color: #800040;
	font-weight: bold;
	font-size: 14pt;
}

.figyelem {
	color: #FF0000;
	font-weight: bold;
	font-size: 12pt;
}

.lab {
	color: #000000;
	font-size: 10pt;
}

.button, a.button:link {
	color: #20548b;
	background: #d8e4f6 url(img/button.png) no-repeat 2px;
	font: normal bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #acb8c4;
	border-left: 1px solid #eaf4ff;
	border-top: 1px solid #fcfeff;
	line-height: 19px;
	padding: 2px 4px 2px 12px;
	behavior: url(button.htc);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	margin: 2px;
}

.button_a {
	color: #00448b;
	background: #94bbf6 url(img/button_a.gif) no-repeat 2px;
	font: normal bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #4d6180;
	border-left: 1px solid #cce1f7;
	border-top: 1px solid #e6f2ff;
	padding: 2px 4px 2px 12px;
	line-height: 19px;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	behavior: url(button.htc);
	margin: 2px;
}

.button_i {
	color: #accdff;
	background: #2f66b8 url(img/button_i.png) no-repeat 2px;
	font: normal bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #7fa9e6;
	border-left: 1px solid #3f5472;
	border-top: 1px solid #253244;
	line-height: 19px;
	padding: 2px 4px 2px 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	behavior: url(button_i.htc);
	margin: 2px;
}

.button_d {
	color: #9aa6b8;
	background: #e7edf6 url(img/button_d.png) no-repeat 2px;
	font: normal bold 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
	border: 1px solid #ccc;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	line-height: 19px;
	padding: 2px 4px 2px 12px;
	behavior: url(button_d.htc);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 2px;
}

tr.navi {
	background-color: #5a8fc6;
}

td.navi {
	background-color: #91b3d8;
}

tr.listhead {
	background-color: #4d6180;
}

td.listcolumn {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background: #192283;
}

table.dir_unit {
	background: #fff;
}

table.dir_unit td {
	background: #eee;
}

table.dir_person {
	background: #fff;
}

table.dir_person td {
	background: #eee;
}

table.dir_person tr.inner td {
	background: #eeeeee;
}

td.dir_data {
	background: #eee
}

div.dv {
	font-family: Courier New, monospace;
	font-size: 12pt;
	background: #fff0f0;
}

div.dt {
	font-size: 12pt;
	background: #fce8e8;
	color: #933;
}

div.de {
	font-size: 12pt;
	background: #ccf;
	color: #006;
}

div.dd {
	font-size: 12pt;
	background: #cfc;
	color: #000;
}

.fix {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


table.data tr td {
	padding: 2px;
}

table.data tr {
	background: #fff;
}

table.data tr td input {
	background: #fff;
}

table.data tr th {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

table.data tr td.listcolumn {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background: #fff;
}

table.data tr.listhead th {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background: #666;
}

.dotted {
	border-bottom: thin dotted blue;
	cursor: help;
}


div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity:0);
	opacity: 0;
	z-index: 2;
}

td.vonalcell {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #fff;
	text-align: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: none;
	font-size: 11pt;
}

div.vonalcell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

a.vonalcell, a.vonalcell:hover, a.vonalcell:visited {
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000;
}

table.tree {
	margin: 0;
}

table.tree a {
	padding: 0;
}

table.normal tr td {
	line-height: 12pt;
}

div.state {
	width: 200px;
	text-align: center;
	margin: 6px 24px 6px 24px;
}

span.red {
	color: #c00;
	font-weight: bold;
}

div.content {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 1em 0;
	padding: 0 10px;
	line-height: 140%;
}

div.content ul li {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 1em 0;
	padding: 0 10px;
	line-height: 140%;
}

.small {
	font-size: 10pt;
}

input.mandatory {
	background-color: #ffc;
}

div#footer_box {
	background-color: #eee;
	border-top: solid 1px #ccc;
}

div#footer {
	width: 995px;
	background-color: #fff;
	text-align: right;
	padding-bottom: 10px;
	font-size: 10pt;
	color: #999;
}

div#footer address {
	margin: 1.8em 0 0 0;
	float: right;
}

div#footer address .addr_title {
	font-size: 10pt;
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding: 0 0 .2em 3em;

}

img {
	border: 0;
}
