/*
	Default formatting for showdown blocks
*/

div.user-content div.showdown {
}

div.showdown h1, div.showdown h2, div.showdown h3, div.showdown h4, div.showdown h5 {
	font-family: 'Consolas';
	margin-left: 0;
}

div.showdown p {
	margin-left: 0;
}

div.showdown ul {
	list-style: square;
	margin-left: 24px;
}

div.showdown ol {
	margin-left: 24px;
}

div.showdown img {
	vertical-align: baseline;
}

div.showdown table {
	background: #eee;
	padding-top: 6px;
	border: 2px solid #eee;
	vertical-align: top;
	margin-bottom: 0;
}

div.showdown table tr {
	background: transparent;
	height: 22px;
}

div.showdown table th, div.showdown table td {
	padding: 1px 2px;
}

div.showdown table th {
	color: inherit;
	font-weight: bold;
	background: #ddd;
	text-align: left;
	padding-right: 4px;
}

div.showdown table td {
}

div.showdown code {
	font-family: "Consolas", courier, monospace;
	background-color: #eeeeef;
	color: #115;
}

div.showdown h2 strong {
	color: #900;
}
