/*
	checkedForm.css
*/

form.checkedform input.mandatory, .field.mandatory {
	background-color: #ffc;
}

form.checkedform input.invalid, form.checkedform .field.invalid, form.checkedform select.invalid {
	background-color: #caa !important;
}

img.ui-datepicker-trigger {
	margin-left: 4px;
	height: 18px;
}

button.ui-datepicker-trigger img {
	height: 14px;
}

span.field {
	margin-right: 6px;
}

input.invalid, .field.invalid {
	background-color: #caa !important;
}

input.mandatory, .field.mandatory, select.mandatory {
	background-color: #f8f0c0 !important;
}

input.ok, .field.ok, select.ok {
	background-color: #aca !important;
}
