div.list-external {
	/*margin: auto;*/
}

div.list-external.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}

table.list {
	line-height: normal;
	vertical-align: top;
}

table.list tr td, table.list tr th {
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	vertical-align: middle;
	text-align: left;
	padding: 2px;
}

table.list.novspacing tr td, table.list.novspacing tr th {
	border-bottom: 0 solid #fff;
}

table.list tr td:first-child, table.list tr th:first-child {
	border-left: none;
	padding-left: 4px;
}

table.list tr td:last-child {
	padding-right: 4px;
}

table.list tbody td {
	background-color: #dde;
}

table.list tbody th {
	background-color: #bbd;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

table.list.owncolor tbody td {
	background-color: inherit;
}

table.list tr.owncolor td, table.list tr.owncolor th {
	background-color: inherit;
}

table.list td.right {
	text-align: right;
	padding-right: 4px;
}

table.list tr.focus td, table.list tr.focus th {
	background-color: #ffd;
}

table.list tr.selected td, table.list tr.selected th { /* selected overrides focus */
	background-color: #000;
	color: #fff;
}

table.list tbody tr.focus:hover td, table.list tbody tr.focus:hover th {
	background-color: #ffe;
}

table.list tbody tr:hover td, table.list tbody tr:hover th {
	background-color: #eef;
}

table.list tbody tr.selected:hover td, table.list tbody tr.selected:hover th {
	background-color: #444;
}

table.list tbody tr.selected:hover {
	background-color: #444;
}

table.list tbody tr:hover {
	background-color: #eef;
}

input.noframe {
	border: 0;
	background: #eef;
	font-size: 90%;
	width: auto;
}

div.navigator {
	padding: 2px;
	background: #b8c0f0;
	margin-bottom: 2px;
}

div.navigator a {
	border-bottom: none;
	margin-right: 2px;
	margin-left: 1px;
}

div.navigator span.ulist-nav {
	color: #006;
	margin-right: 2px;
	margin-left: 2px;
}

div.navigator img {
	border: none;
	margin-right: 3px;
	margin-left: 3px;
}

span.navigator a {
	padding-right: 2px;
	padding-left: 2px;
}

span.dis {
	color: #666;
	cursor: text;
	padding: 0 2px;
}

table.list thead th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	background-color: #bbd;
}

div.navigator {
	font-size: 11px;
}

div.navigator input {
	height: 16px;
	border: none;
}

div.navigator input, div.navigator span, div.navigator a, div.navigator img {
	margin: 0;
	padding: 0;
}

div.navigator span.field {
	padding-left: 2px;
	/*border-left: 1px solid black;*/
}

div.navigator span.label {
	margin-right: 4px;
}

div.navigator label input {
	margin-right: .25rem;
}

div.navigator span#user-flags {
	display: inline-block;
}

div.navigator span#user-flags.rightborder {
	padding-right: 3px;
	margin-right: 2px;
	/*border-right: 1px solid black;*/
}

div.navigator input.list_search {
	width: 120px;
}

span.navigator a {
	padding: 0 2px;
}

span.navigator span.btn {
	display: inline-block;
	width: 12px;
	height: 16px;
	margin: 0 3px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

span.navigator .first_i {
	background: url(img/list_first_i.png);
}

span.navigator .last_i {
	background: url(img/list_last_i.png);
}

span.navigator .first {
	background: url(img/list_first.png);
}

span.navigator .last {
	background: url(img/list_last.png);
}

tr.list-columns a:hover {
	text-decoration: none;
	border-bottom: none;
}

tr.list-columns span.btn {
	display: inline-block;
	width: 9px;
	height: 11px;
	margin: 0 1px;
}

tr.list-columns span.r_down {
	background: url(img/r_down.png);
}

tr.list-columns span.r_up {
	background: url(img/r_up.png);
}

tr.list-columns span.r_updown {
	background: url(img/r_updown.png);
}

i.btn.fa {
	width: auto;
	padding-left: 3px;
	padding-right: 3px;
}

i.btn.fa.disabled {
	color: #888;
}

.fix {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.stretch {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* context-menu */
div.context-menu-box {
	border-bottom: none;
	font-size: 1em;
	line-height: 1.4em;
	overflow: hidden;
}

div.context-menu {
	width: 100%;
	text-align: left;
	word-spacing: 0;
	background: #ece8f8;
}

div.context-menu a, div.context-menu span {
	margin: 0 .8em;
	padding-top: .6em;
	padding-bottom: 0;
	text-decoration: none;
	cursor: pointer;
}

div.context-menu a.active, div.context-menu span.active, div.context-menu a.active:hover {
	cursor: pointer;
}

div.context-menu a.disabled, div.context-menu span.disabled {
	color: #999;
	cursor: inherit;
	border-bottom: none;
}

div.list-empty {
	padding: 2px 8px;
	min-height: 36px;
}

i.fa.export {
	font-size: 1.3em;
	color: #082;
	vertical-align: text-bottom;
}

table.list .inline {
	display: inline-block;
}

a.list-header-link {
	cursor: pointer;
}
